<!-- begin post -->
{% assign author = site.authors[post.author] %}
<div class="card">
    <a class="postbox-link" href="{{ post.url | absolute_url }}" target="_self">
      {% if post.image %}
        <div class="postbox-image-effect mb-4 img-loading">
            <img class="rounded" src="{{ site.baseurl }}/{{ post.image }}" alt="{{ post.title }}">
        </div>
      {% endif %}
      <div class="card-block">
        <h2 class="card-title h4 ">{{ post.title }}</h2>
      </div>
    </a>

</div>
<!-- end post -->