.thumbnail {
  display: inline-block;
  position: relative;
  width: 100%;
  aspect-ratio: 4/3;
  overflow: hidden;
  vertical-align: middle;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
.thumbnail .img-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumbnail .img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  cursor: zoom-in;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.thumbnail.zoomed .img-wrapper {
  position: fixed;
  z-index: 10001;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  width: auto;
  height: auto;
  max-width: 80vw;
  max-height: 80vh;
}
.thumbnail.zoomed .img-wrapper img {
  max-width: 80vw;
  max-height: 80vh;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: zoom-out;
  border: 1px solid #ddd;
  box-shadow: 0 0 90px rgba(0,0,0,0.2);
}

.thumbnail .img-wrapper .arrow {
  display: none;
  position: absolute;
  top: 50%;
  width: 50%;
  height: 100%;
  background: none;
  border: none;
  box-shadow: none;
  outline: none;
  box-shadow: none;
  color: #333;
  font-size: 3.5rem;
  font-weight: bold;
  cursor: pointer;
  z-index: 2;
  transform: translateY(-50%);
  opacity: 0.7;
  transition: opacity 0.2s;
  pointer-events: auto;
  padding: 0;
}

.thumbnail.zoomed .img-wrapper .arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.thumbnail.zoomed .img-wrapper .arrow-left {
  left: 0%;
  justify-content: flex-start;
}
.thumbnail.zoomed .img-wrapper .arrow-right {
  right: 0%;
  justify-content: flex-end;
}
.thumbnail.zoomed .img-wrapper .arrow-right:hover {
  opacity: 1;
  background: linear-gradient(
    to right,
    rgba(255,255,255,0.0) 0%,
    rgba(255,255,255,0.0) 50%,
    rgba(255,255,255,0.85) 90%,
    rgba(255,255,255,0.95) 100%
  );
}
.thumbnail.zoomed .img-wrapper .arrow-left:hover {
  opacity: 1;
  background: linear-gradient(
    to left,
    rgba(255,255,255,0.0) 0%,
    rgba(255,255,255,0.0) 50%,
    rgba(255,255,255,0.85) 90%,
    rgba(255,255,255,0.95) 100%
  );
}
.thumbnail.zoomed .img-wrapper .arrow b {
  display: flex;
  font-size: 1rem;
  font-family: PT Sans, sans-serif;
  text-shadow: #fff 0px 3px;
  font-weight: normal;
  line-height: 1;
  pointer-events: none;
  padding: 4%;
}
@media screen and (min-width: 301px) {
  .thumbnail.zoomed .img-wrapper .arrow b {
    font-size: 2.5rem;
    padding: 6%;
  }
}
@media screen and (min-width: 601px) {
  .thumbnail.zoomed .img-wrapper .arrow b {
    font-size: 4rem;
    padding: 8%;
  }
}
@media screen and (min-width: 1025px) {
  .thumbnail.zoomed .img-wrapper .arrow b {
    font-size: 5rem;
    padding: 8%;
  }
}

body.zoomed::before {
  content: '';
  position: fixed;
  left: 0; top: 0; width: 100vw; height: 100vh;
  background: rgba(255,255,255,0.95);
  z-index: 10000;
  cursor: zoom-out;
  pointer-events: auto;
}
body.zoomed {
  overflow: hidden !important;
}
