<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" href="{{ site.baseurl }}/{{site.favicon}}">
    {% capture title %}{% if page.title %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}{% endcapture %}
    <title>{{ title }}</title>
    {% seo %}
    <link href="{{ site.baseurl }}/assets/css/theme.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
    <!-- custom CSS - Remove this if you don't use it or choose to customize the stylesheet with sass-->
    <link href="{{ site.baseurl }}/assets/css/syntax-light.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/custom.css?v={{ site.time | date: '%Y%m%d%H%M%S' }}" rel="stylesheet">
    <!-- custom CSS end-->
  </head>

  {% capture layout %}{% if page.layout %}layout-{{ page.layout }}{% endif %}{% endcapture %}
  <body class="{{ layout }}">
    {{ content }}

    <!-- JavaScript
    ================================================== -->
    <script src="{{ site.baseurl }}/assets/js/thumbnail.js"></script>
    <script src="{{ site.baseurl }}/assets/js/jquery.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
    <script src="{{ site.baseurl }}/assets/js/theme.js"></script>
  </body>
</html>