---
layout: default
---
<!-- Post Featured Image -->
{% if page.image %}
<div class="text-center mx-auto mb-5">
  <img class="featured-image text-center mx-auto rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
</div>
{% endif %}
<!-- End Featured Image -->

<div class="mainheading">
  <h1 class="posttitle">{{ page.title }}</h1>
</div>

<div class="article-post ">
  {{content}}
</div>

{% assign post_count = 0 %}
<div class="row">
  {% assign collection_name = page.collection %}
  {% for post in site[collection_name] %}
    {% assign post_count = post_count | plus: 1 %}
    <div class="col-12 col-sm-6 col-lg-4 mb-4">
      {% include postbox.html %}
    </div>
  {% endfor %}
</div>

{% if post_count == 0 %}
  <p class="text-center">Non ci sono ancora articoli</p>
{% endif %}
