---
layout: default
archive: false
post_class: post-template
---

<!-- Begin Article
================================================== -->

<div>
  <!-- Post -->
  {% assign author = site.authors[page.author] %}

    <!-- Post Featured Image -->
    {% if page.image %}
    <div class="text-center mx-auto mb-5">
      <img class="featured-image text-center mx-auto rounded" src="{{ site.baseurl }}/{{ page.image }}" alt="{{ page.title }}">
    </div>
    {% endif %}
    <!-- End Post Featured Image -->
    <div class="mainheading">
      <h1 class="posttitle">{{ page.title }}</h1>
    </div>
    <!-- Post Content -->
    <div class="article-post ">
      {{content}}
      <div class="clearfix"></div>
      {% if page.gallery %}
        <div class="row mt-5 mb-5">
          {% for image in page.gallery %}
            <div class="col-6 col-sm-4 col-lg-3 mb-4">
              {% include thumbnail.html path=image %}
            </div>
          {% endfor %}
        </div>
      {% endif %}
    </div>
    <!-- Prev/Next -->
    <div class="row PageNavigation mt-4 prevnextlinks d-flex justify-content-between">
      <div class="col-md-6 rightborder pl-0">
        {% if page.previous.url %}
          <a class="thepostlink d-flex align-items-center" href="{{page.previous.url | absolute_url}}">
            {% if page.previous.image %}
              <span class="thepostlink-featured">
                <img src="{{ site.baseurl }}/{{ page.previous.image }}" alt="{{page.previous.title}} thumbnail">
              </span>
            {% endif %}
            <span>&laquo; {{page.previous.title}}</span>
          </a>
        {% endif %}
      </div>
      <div class="col-md-6 text-right pr-0">
        {% if page.next.url %}
          <a class="thepostlink d-flex align-items-center justify-content-end" href="{{page.next.url | absolute_url}}">
            <span>{{page.next.title}} &raquo;</span>
            {% if page.next.image %}
              <span class="thepostlink-featured">
                <img src="{{ site.baseurl }}/{{ page.next.image }}" alt="{{page.next.title}} thumbnail">
              </span>
            {% endif %}
          </a>
        {% endif %}
      </div>
    </div>
    <!-- End Prev/Next -->
	</div>
<!-- End Article
================================================== -->